//Cards general
a:hover {
    text-decoration: none;
}


//Card normal
.category {
    &:hover {
        @include backgroundImportant($light-dark);
        border-color: $main-light;
    }
}
.h4-normal {
    @include textImportant($dark-dark);
}



//Card create
.create {
    &:hover {
        @include backgroundImportant($accent-light);
        border-color: $accent;
    }
}
