//Margin
//top-bottom
.m-1-tb {
    margin: 0.25rem 0;
}
.m-2-tb {
    margin: 0.5rem 0;
}
.m-3-tb {
    margin: 1rem 0;
}
.m-4-tb {
    margin: 1.5rem 0;
}
.m-5-tb {
    margin: 2rem 0;
}

//bottom
.m-1-b {
    margin-bottom: 0.25rem;
}

//Padding
//top-bottom
/*.p-1-tb {
    padding: 0.25rem 0;
}
.p-2-tb {
    padding: 0.5rem 0;
}
.p-3-tb {
    padding: 1rem 0;
}
.p-4-tb {
    padding: 1.5rem 0;
}
.p-5-tb {
    padding: 2rem 0;
}*/

