// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

    // Main
    $main: #ff006a;
    $main-light: #ff85b7;
    $main-dark: #992052;

    //Accent
    $accent: #78ffe7;
    $accent-light: #c7fff5;
    $accent-dark: #58bfad;

    //Light
    $light-medium: #fffdfa;
    $light-light: #fffefc;
    $light-dark: #f7f7f7;

    //Dark
    $dark-medium: #292929;
    $dark-light: #424242;
    $dark-dark: #1c1c1c;

    //Grey
    $grey: #969696;
    $grey-light: #b5b5b5;
